-i https://pypi.org/simple/
certifi==2020.12.5
chardet==3.0.4
cheroot==8.5.2
cherrypy==18.1.0
coloredlogs==10.0
humanfriendly==9.1
idna==2.8
jaraco.functools==3.2.1
more-itertools==8.7.0
pocketsphinx==0.1.15
portend==2.7.1
pyaudio==0.2.11
python-vlc==3.0.4106
pytz==2021.1
pyyaml==5.4
requests==2.21.0
six==1.15.0
tempora==4.0.1
urllib3==1.24.3
webrtcvad==2.0.10
zc.lockfile==2.0
